<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>colorCMYK</key>
		<string>10-90-95-5</string>
		<key>colorRGB</key>
		<string>211,56,28</string>
		<key>colorDescription</key>
		<string>华丽</string>
		<key>colorName</key>
		<string>绯</string>
		<key>colors</key>
		<array>
			<array>
				<dict>
					<key>RGB</key>
					<string>248,232,208</string>
					<key>CMYK</key>
					<string>3-11-20-0</string>
				</dict>
				<dict>
					<key>RGB</key>
					<string>211,56,28</string>
					<key>CMYK</key>
					<string>10-90-95-5</string>
				</dict>
				<dict>
					<key>RGB</key>
					<string>137,39,39</string>
					<key>CMYK</key>
					<string>36-91-82-31</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>RGB</key>
					<string>143,146,199</string>
					<key>CMYK</key>
					<string>49-41-0-0</string>
				</dict>
				<dict>
					<key>RGB</key>
					<string>238,194,115</string>
					<key>CMYK</key>
					<string>6-28-59-1</string>
				</dict>
				<dict>
					<key>RGB</key>
					<string>211,56,28</string>
					<key>CMYK</key>
					<string>10-90-95-5</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>RGB</key>
					<string>0,96,85</string>
					<key>CMYK</key>
					<string>91-38-64-31</string>
				</dict>
				<dict>
					<key>RGB</key>
					<string>211,56,28</string>
					<key>CMYK</key>
					<string>10-90-95-5</string>
				</dict>
				<dict>
					<key>RGB</key>
					<string>226,235,179</string>
					<key>CMYK</key>
					<string>15-1-38-0</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>RGB</key>
					<string>211,56,28</string>
					<key>CMYK</key>
					<string>10-90-95-5</string>
				</dict>
				<dict>
					<key>RGB</key>
					<string>236,231,213</string>
					<key>CMYK</key>
					<string>9-9-18-0</string>
				</dict>
				<dict>
					<key>RGB</key>
					<string>0,79,157</string>
					<key>CMYK</key>
					<string>95-70-5-0</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>colorCMYK</key>
		<string>0-95-90-0</string>
		<key>colorRGB</key>
		<string>231,37,32</string>
		<key>colorDescription</key>
		<string>大胆</string>
		<key>colorName</key>
		<string>绯红</string>
		<key>colors</key>
		<array>
			<array>
				<dict>
					<key>RGB</key>
					<string>188,195,48</string>
					<key>CMYK</key>
					<string>30-11-89-5</string>
				</dict>
				<dict>
					<key>RGB</key>
					<string>231,37,32</string>
					<key>CMYK</key>
					<string>0-95-90-0</string>
				</dict>
				<dict>
					<key>RGB</key>
					<string>97,58,139</string>
					<key>CMYK</key>
					<string>73-86-8-2</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>RGB</key>
					<string>240,130,0</string>
					<key>CMYK</key>
					<string>0-60-100-0</string>
				</dict>
				<dict>
					<key>RGB</key>
					<string>231,37,32</string>
					<key>CMYK</key>
					<string>0-95-90-0</string>
				</dict>
				<dict>
					<key>RGB</key>
					<string>0,158,168</string>
					<key>CMYK</key>
					<string>100-0-40-0</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>RGB</key>
					<string>231,37,32</string>
					<key>CMYK</key>
					<string>0-95-90-0</string>
				</dict>
				<dict>
					<key>RGB</key>
					<string>251,196,0</string>
					<key>CMYK</key>
					<string>0-27-100-0</string>
				</dict>
				<dict>
					<key>RGB</key>
					<string>219,79,46</string>
					<key>CMYK</key>
					<string>0-80-80-10</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>RGB</key>
					<string>186,41,107</string>
					<key>CMYK</key>
					<string>22-92-26-9</string>
				</dict>
				<dict>
					<key>RGB</key>
					<string>0,149,79</string>
					<key>CMYK</key>
					<string>89-12-89-2</string>
				</dict>
				<dict>
					<key>RGB</key>
					<string>231,37,32</string>
					<key>CMYK</key>
					<string>0-95-90-0</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>colorCMYK</key>
		<string>20-100-100-0</string>
		<key>colorRGB</key>
		<string>200,22,29</string>
		<key>colorDescription</key>
		<string>威严</string>
		<key>colorName</key>
		<string>深绯</string>
		<key>colors</key>
		<array>
			<array>
				<dict>
					<key>RGB</key>
					<string>209,135,131</string>
					<key>CMYK</key>
					<string>0-50-30-20</string>
				</dict>
				<dict>
					<key>RGB</key>
					<string>200,22,29</string>
					<key>CMYK</key>
					<string>20-100-100-0</string>
				</dict>
				<dict>
					<key>RGB</key>
					<string>76,20,50</string>
					<key>CMYK</key>
					<string>70-100-65-40</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>RGB</key>
					<string>200,22,29</string>
					<key>CMYK</key>
					<string>20-100-100-0</string>
				</dict>
				<dict>
					<key>RGB</key>
					<string>141,133,0</string>
					<key>CMYK</key>
					<string>28-21-100-40</string>
				</dict>
				<dict>
					<key>RGB</key>
					<string>65,81,110</string>
					<key>CMYK</key>
					<string>83-72-47-0</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>RGB</key>
					<string>85,65,98</string>
					<key>CMYK</key>
					<string>70-75-38-25</string>
				</dict>
				<dict>
					<key>RGB</key>
					<string>200,22,29</string>
					<key>CMYK</key>
					<string>20-100-100-0</string>
				</dict>
				<dict>
					<key>RGB</key>
					<string>190,170,99</string>
					<key>CMYK</key>
					<string>8-16-58-29</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>RGB</key>
					<string>0,119,71</string>
					<key>CMYK</key>
					<string>90-25-85-20</string>
				</dict>
				<dict>
					<key>RGB</key>
					<string>105,0,7</string>
					<key>CMYK</key>
					<string>0-100-65-70</string>
				</dict>
				<dict>
					<key>RGB</key>
					<string>200,22,29</string>
					<key>CMYK</key>
					<string>20-100-100-0</string>
				</dict>
			</array>
		</array>
	</dict>
</array>
</plist>
